[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
responses = "*"
pandas = "~=1.5.3"

[dev-packages]
selenium = "*"
webdriver-manager = "*"
python-decouple = "*"

[requires]
python_version = "3.8"
python_full_version = "3.8.18"
